:root {
  --background: #1e1a2e;
  --foreground: #e3e0d7;
  --muted: #0b0e17;
  --muted-foreground: #a3a8b5;
  --popover: #0b0e17;
  --popover-foreground: #ffffff;
  --card: #0c0f18;
  --card-foreground: #ffffff;
  --border: #0b0f19;
  --input: #667099;
  --primary: #ffeb00;
  --primary-foreground: #332800;
  --secondary: #505591;
  --secondary-foreground: #c7d9e5;
  --accent: #0f121b;
  --accent-foreground: #d9e3f5;
  --destructive: #e63223;
  --destructive-foreground: #ffffff;
  --ring: #ffeb00;
  --chart-1: #ffeb00;
  --chart-2: #667099;
  --chart-3: #0f121b;
  --chart-4: #6c7aaa;
  --chart-5: #ffef00;
}
body {
  font-family: Arial;
  background-color: var(--background);
  color: var(--foreground);
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: var(--secondary);
  color: var(--foreground);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: var(--secondary-foreground) ;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--muted);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--muted);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.choiceTab2 {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.choiceText {
  padding: 1.5px;
  transition: all;
  transition-duration: 200ms;
  cursor: pointer;
  border-radius: 4px;
}

.choiceText:hover  {
  background: var(--card);
}

#grapheTab2 {
  border-radius: 15px;
  color: white;
  background-color: var(--chart-3);
  width: 100%; /* Pour qu'il prenne toute la largeur */
  height: 500px; /* Augmente la hauteur (ajuste selon tes besoins) */
  max-height: 600px; /* Évite qu'il devienne trop grand */
}
#grapheTab3 {
  border-radius: 15px;
  color: white;
  background-color: var(--chart-3);
  width: 100%; /* Pour qu'il prenne toute la largeur */
  height: 500px; /* Augmente la hauteur (ajuste selon tes besoins) */
  max-height: 600px; /* Évite qu'il devienne trop grand */
}
#grapheTab3 {
  width: 100%;
  height: 500px;
  max-height: 600px;
}
.align {
  display: flex;
  gap: 45px;
}

#grapheTab1 {
  border-radius: 15px;
  color: white;
  background-color: var(--chart-3);
  width: 100%;
  height: 500px;
  max-height: 600px;
}


.dataTab1 {
  border-radius: 5px;
  color: white;
  background-color: var(--chart-3);
  display: flex;
  gap: 45px;
  height: 500px;
}

.top-item {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: 20px;
}

.rank {

  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

#classement {
  padding: 20px;
  text-align: center;
  width: 100%;
}



